<a href="https://colab.research.google.com/github/MohaVaibhav/python_assignments/blob/main/Funct_pract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WAP funtion to multiply all odd numbers from 1 to 100 and print the result

In [ ]:
def my_fun():
  mul = 1
  for i in range(1,100,2):
   mul = mul * i
  return mul

In [ ]:
my_fun()

2725392139750729502980713245400918633290796330545803413734328823443106201171875

WA function to calculate factorial of a function:

In [ ]:
def fact(n:int):
  product = 1
  for i in range(2,n+1):
    product = product *i
  return product

In [ ]:
fact(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
print(len(str((fact(100)))))

158

In [ ]:
def list_modify(a:list):
  a[0]= 10

In [ ]:
list_modify(l1)