<a href="https://colab.research.google.com/github/MohaVaibhav/python_assignments/blob/main/tuple_pract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to create a tuple.



2. Write a Python program to create a tuple with different data types.



3. Write a Python program to create a tuple of numbers and print one item.



4. Write a Python program to unpack a tuple into several variables.



5. Write a Python program to add an item to a tuple.



6. Write a Python program to convert a tuple to a string.



7. Write a Python program to get the 4th element from the last element of a tuple.

In [ ]:
#
t2 =(56)
type(t2)

int

In [ ]:
t2 =(56,)
type(t2)

tuple

In [ ]:
# wap to create  a tuple
t1 = (1,2,3)
t2 = ("ghgh")
t3= (,"jk")

7. Write a Python program to get the 4th element from the last element of a tuple.

In [ ]:
t7 = (0,(1,2,3),[4,5,6],[0,1,2,3,4,5])
t7[len(t7)-1][3]

3


8. Write a Python program to create the colon of a tuple.
nested tuple

In [ ]:
l1= [0,1,23]
l2=[2,3,4]
t8 = tuple(zip(l1,l2))
t8

((0, 2), (1, 3), (23, 4))

9. Write a Python program to find repeated items in a tuple.

In [ ]:
t9 = (0,0,1,2,3,4,5,5)
s9 = set(t9)
d9 = {}
for i in s9:
  value = t9.count(i)
  d9[i]= value
  print("element:",i)
d9

{0: 2, 1: 1, 2: 1, 3: 1, 4: 1, 5: 2}

In [ ]:
t1 = (1,2,3,3)
repeated_set = set()
for idx1 in range(len(t1)):
  for idx2 in range(len(t1)):
    if(idx1 != idx2) and (t1[idx1] == t1[idx2]) and (t1[idx1] not in repeated_set):
      repeated_set.add(t1[idx1])
print(repeated_set)

{3}

In [ ]:
# to create empty set
s9 =set()
type(s9)

set

In [ ]:
# to create empty dictionary
s10 ={}
type(s10)

dict

10. Write a Python program to check whether an element exists within a tuple.
use in function

{3}

11. Write a Python program to convert a list to a tuple.

In [ ]:
l1 = [1,2,3,3]
t11 = tuple(l1)
print("list:",l1)
print("Tuple:",t11)

list: [1, 2, 3, 3]
Tuple: (1, 2, 3, 3)

12. Write a Python program to remove an item from a tuple.
Explanation: Tuple is immutable

In [ ]:
t12 = (1,2,3,3)
del t12[3]
t12

TypeError: 'tuple' object doesn't support item deletion

13. Write a Python program to slice a tuple.

In [ ]:
t13 =(1,2,3,3)
t13[2:4]

(3, 3)

14. Write a Python program to find the index of an item in a tuple.
for loop and index

In [ ]:
t14 = (1,2,3,3)


15. Write a Python program to find the length of a tuple.

In [ ]:
t15 = (1,2,3,3)
len(t15)

4

16. Write a Python program to convert a tuple to a dictionary.

In [ ]:
t16 = ((00,11),(22,33),(44,55),(66,77))
d16 =dict(t16)
d16

{0: 11, 22: 33, 44: 55, 66: 77}

In [ ]:
t17 = ('00','11',(9,9),[90,78])
d17 =dict(t17)
d17

{'0': '0', '1': '1', 9: 9, 90: 78}

In [ ]:
t17 = ((00,11),)
o17 = dict(t17)


17. Write a Python program to unzip a list of tuples into individual lists.

In [ ]:
t17 =[(0, 2), (1, 3), (23, 4)]
for i in t17:
  print(list(i))

[0, 2]
[1, 3]
[23, 4]

18. Write a Python program to reverse a tuple.

In [ ]:
t18 = (1,2,3,4)
t18[::-1]

(4, 3, 2, 1)

In [ ]:
t18 = (1,2,3,4)
print(tuple(reversed(t18)))

(4, 3, 2, 1)

In [ ]:
print(sorted(t18,reverse=True))

[4, 3, 2, 1]

19. Write a Python program to convert a list of tuples into a dictionary.

In [ ]:
t17 =[(0, 2), (1, 3), (23, 4)]
d17=dict(t17)
d17

{0: 2, 1: 3, 23: 4}

20. Write a Python program to print a tuple with string formatting.
Sample tuple : (100, 200, 300)
Output : This is a tuple (100, 200, 300)

In [ ]:
t20 = (100,200,300)
print("this is a tuple:",str(t20))

this is a tuple: (100, 200, 300)

21. Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
l21=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

22. Write a Python program to remove an empty tuple(s) from a list of tuples.
Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

23. Write a Python program to sort a tuple by its float element.
Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
s23=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
l=[('1',1.2),('2',33.4),('3',78.6),('4',5.4),('5',45)]
l1 =[t[1] for t in l]
l1.sort(reverse =True)
l2 =[()]*len(l1)
for tup in l:
  indx = l1.index(tup[1])
  l2[indx]=tup
l2

[('3', 78.6), ('5', 45), ('2', 33.4), ('4', 5.4), ('1', 1.2)]

24. Write a Python program to count the elements in a list until an element is a tuple.

In [ ]:
s24=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5'),{1,2,3},{1:2,2:3},(00,)]
count = 0
for i in s24:
  if type(i) == tuple:
    count = count +1
print(count)

4

25. Write a Python program to convert a given string list to a tuple.
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
<class 'tuple'>


26. Write a Python program to calculate the product, multiplying all the numbers in a given tuple.
Original Tuple:
(4, 3, 2, 2, -1, 18)
Product - multiplying all the numbers of the said tuple: -864
Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product - multiplying all the numbers of the said tuple: 27648



27. Write a Python program to calculate the average value of the numbers in a given tuple of tuples.
Original Tuple:
((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
Average value of the numbers of the said tuple of tuples:
[30.5, 34.25, 27.0, 23.25]
Original Tuple:
((1, 1, -5), (30, -15, 56), (81, -60, -39), (-10, 2, 3))
Average value of the numbers of the said tuple of tuples:
[25.5, -18.0, 3.75]



28. Write a Python program to convert a tuple of string values to a tuple of integer values.
Original tuple values:
(('333', '33'), ('1416', '55'))
New tuple values:
((333, 33), (1416, 55))



29. Write a Python program to convert a given tuple of positive integers into an integer.
Original tuple:
(1, 2, 3)
Convert the said tuple of positive integers into an integer:
123
Original tuple:
(10, 20, 40, 5, 70)
Convert the said tuple of positive integers into an integer:
102040570



30. Write a Python program to check if a specified element appears in a tuple of tuples.
Original list:
(('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow', 'Lime'))
Check if White presenet in said tuple of tuples!
True
Check if White presenet in said tuple of tuples!
True
Check if Olive presenet in said tuple of tuples!
False



31. Write a Python program to compute the element-wise sum of given tuples.
Original lists:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)
Element-wise sum of the said tuples:
(6, 9, 8, 6)



32. Write a Python program to compute the sum of all the elements of each tuple stored inside a list of tuples.
Original list of tuples:
[(1, 2), (2, 3), (3, 4)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[3, 5, 7]
Original list of tuples:
[(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[9, -1, 7, 8]



33. Write a Python program to convert a given list of tuples to a list of lists.
Original list of tuples: [(1, 2), (2, 3), (3, 4)]
Convert the said list of tuples to a list of lists: [[1, 2], [2, 3], [3, 4]]
Original list of tuples: [(1, 2), (2, 3, 5), (3, 4), (2, 3, 4, 2)]
Convert the said list of tuples to a list of lists: [[1, 2], [2, 3, 5], [3, 4], [2, 3, 4, 2]]